<div class="row">
    <!--One-->
    <div class="col-xl-3 col-md-12">
        <chat-card character-name="Administrator"></chat-card>
    </div>

    <!--Two-->
    <div class="col-xl-3 col-md-12">
        <chat-card character-name="John Doue"></chat-card>
    </div>

    <!--Three-->
    <div class="col-xl-3 col-md-12">
        <chat-card character-name="Jeny William"></chat-card>
    </div>

    <!--Four-->
    <div class="col-xl-3 col-md-12">
        <chat-card character-name="Alex Thompson"></chat-card>
    </div>
</div>